.ab-container{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}
.about{
height: max-content;
width: 50%;
padding: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

@media screen and (max-width: 899px) {
    .ab-container{
        display: flex;
        flex-direction: column;
    }
    .about{
        width: 90%;
    }
    
}